/* screen - drinklist */
/*part of the style and precise position referenced anima plug in*/

.drinklist {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 1117px;
  overflow: hidden;
  width: 1728px;
}

.drinklist .headeritem {
  align-items: flex-end;
  display: flex;
  height: 31px;
  margin-left: 504px;
  margin-top: 40.0px;
  min-width: 777px;
}

.drinklist .card {
  align-items: flex-start;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  min-height: 775px;
  padding: 29px 17px;
  width: 420px;
  margin:20px;
}

.drinklist .mainpic-2{
  height: 400px;
  display: flex;
  align-self: center;
  margin: 10px;
}

.drinklist .item {
  align-items: flex-start;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  min-height: 500px;
  padding: 29px 17px;
  width: 420px;
  margin:20px;
}

.drinklist .group-container {
  align-items: flex-start;
  align-self: center;
  display: flex;
  height: 775px;
  margin-right: 8.0px;
  margin-top: 35px;
  min-width: 1378px;
}

.drinklist .container1 {
  align-self: flex-end;
  height: 442px;
  position: relative;
  width: 381px;
}

.drinklist .amountcontainer {
  align-items: flex-end;
  align-self: flex-end;
  display: flex;
  height: 74px;
  margin-right: 4px;
  margin-top: 17px;
  min-width: 367px;
}

.drinklist .capcontainer {
  align-items: center;
  display: flex;
  height: 43px;
  left: 10px;
  min-width: 371px;
  position: absolute;
  top: 399px;
}

.drinklist .id {
  letter-spacing: 0;
  margin-left: 26px;
  margin-top: 8.0px;
  min-height: 21px;
  min-width: 81px;
}

.drinklist .piccontainer {
  height: 405px;
  left: 0px;
  position: absolute;
  top: 2px;
  width: 363px;
  z-index: 0;
}

.drinklist .mainpic {
  align-items: center;
  height: 405px;
  left: 92px;
  top: 0;
  width: 216px;
}

.drinklist .label0 {
  align-items: flex-end;
  background-color: #8eacb766;
  display: flex;
  height: 37px;
  justify-content: flex-end;
  left: 3px;
  min-width: 360px;
  padding: 7.1px 86.1px;
  position: absolute;
  top: 327px;
}

.drinklist .cap1 {
  -webkit-text-stroke: 0.1px var(--white);
  letter-spacing: 0;
  min-height: 21px;
  min-width: 187px;
}


.drinklist .flavor {
  letter-spacing: 0;
  min-height: 21px;
  min-width: 53px;
}

.drinklist .flavors {
  align-items: flex-end;
  display: flex;
  margin-left: 20px;
  min-width: 222px;
}

.drinklist .e {
  background-color: var(--rock-blue);
  border-radius: 11px;
  height: 22px;
  width: 22px;
}

.drinklist .vanilla {
  letter-spacing: 0;
  margin-left: 19px;
  min-height: 21px;
  min-width: 54px;
}

.drinklist .e1 {
  background-color: var(--silver);
  border-radius: 11px;
  height: 22px;
  margin-left: 20px;
  width: 22px;
}

.drinklist .original {
  letter-spacing: 0;
  margin-left: 19px;
  min-height: 21px;
  min-width: 62px;
}

.drinklist .pricecontainer {
  align-items: flex-start;
  display: flex;
  height: 21px;
  margin-left: 15px;
  margin-top: 21px;
  min-width: 302px;
}

.drinklist .price {
  letter-spacing: 0;
  min-height: 21px;
  min-width: 44px;
}

.drinklist .singleprice {
  letter-spacing: 0;
  margin-left: 29px;
  min-height: 21px;
  min-width: 71px;
}

.drinklist .or {
  letter-spacing: 0;
  margin-left: 25px;
  min-height: 21px;
  min-width: 17px;
}

.drinklist .attribute {
  letter-spacing: 0;
  min-height: 21px;
  min-width: 158px;
}

.drinklist .subperiod {
  align-items: flex-start;
  background-color: var(--mist-gray);
  border-radius: 2px;
  display: flex;
  height: 28px;
  margin-left: 52px;
  min-width: 157px;
  padding: 2px 25px;
}

.drinklist .star {
  height: 1px;
  margin-left: 15px;
  margin-top: 5.0px;
  width: 1px;
}

.drinklist .rating {
  letter-spacing: 0;
  min-height: 18px;
  min-width: 100px;
}
.drinklist .amount {
  align-items: center;
  display: flex;
  margin-top: 25px;
  min-width: 127px;
}


.drinklist .number {
  letter-spacing: 0;
  margin-left: 30px;
  margin-top: 1.0px;
  min-height: 21px;
  min-width: 11px;
}

.drinklist .amountcontrol {
  height: 28px;
  margin-left: 30px;
  width: 28px;
}

.drinklist .purchasecontainer {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 38px;
  min-height: 71px;
  width: 200px;
}

.drinklist .subscribe {
  align-items: flex-start;
  background-color: var(--mist-gray);
  border-radius: 2px;
  display: flex;
  height: 28px;
  min-width: 200px;
  padding: 1.4px;
  top: 5px;
}

.drinklist .addtocart {
  align-items: flex-start;
  background-color: var(--mist-gray);
  border-radius: 2px;
  display: flex;
  height: 28px;
  margin-top: 15px;
  min-width: 200px;
  padding: 0.8px 55px;
}

.drinklist .add-to-cart {
  letter-spacing: 0;
  min-height: 13px;
  width: 89px;
}

.drinklist .showpic {
  align: center;
  align-self: center;
  height: 400px;
  top: 0;
  width: 300px;
  left:100px;
}

.drinklist .label2 {
  align-items: flex-end;
  background-color: #adb3b166;
  display: flex;
  height: 37px;
  left: 17px;
  min-width: 360px;
  padding: 7.1px 49.9px;
  position: absolute;
  top: 327px;
}

.drinklist .label3 {
  align-items: flex-end;
  background-color: #c6a67766;
  display: flex;
  height: 37px;
  left: 17px;
  min-width: 360px;
  padding: 7.1px 49.9px;
  position: absolute;
  top: 327px;
}
