/* screen - homepage */
/*part of the style and precise position referenced anima plug in*/

.homepage {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 1117px;
  overflow: hidden;
  width: 1728px;
}

/* overlap styles */

.homepage .contentOverlap {
  height: 562px;
  left: 425px;
  position: absolute;
  top: 0;
  width: 1197px;
}

.homepage .group {
  height: 562px;
  margin-left: 80px;
  margin-right: 25px;
  margin-top: 152px;
  position: relative;
  width: 1622px;
}

.homepage .textGroup {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 255px;
  position: absolute;
  top: 149px;
  width: 540px;
}

.homepage .hHuge {
  color: var(--black);
  font-family: var(--font-family-merriweather);
  font-size: var(--font-size-xxl);
  font-weight: 900;
  letter-spacing: 0;
  line-height: 1.2;
  min-height: 120px;
}

.homepage .h2 {
  letter-spacing: 0;
  margin-top: 16px;
  min-height: 61px;
  width: 400px;
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-l);
  line-height: 1.2;

}
/* button, boxes and text boxes */

.homepage .searchButton {
  align-items: flex-start;
  display: flex;
  margin-top: 16px;
  min-width: 536px;
}

.homepage .textbox {
  border: 1px solid #000000cc;
  border-radius: 2px;
  height: 42px;
  width: 387px;
}

.homepage .blueButton {
  border: 1px solid #000000cc;
  align-items: flex-start;
  background-color: #a3ccd7;
  border-radius: 2px;
  display: flex;
  height: 42px;
  margin-left: 17px;
  min-width: 132px;
  padding: 9px 37px;
}

.homepage .search {
  letter-spacing: 0;
  min-height: 21px;
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
}

.homepage .mainpic{
  height: 562px;
  left: 200px;
  position: absolute;
  top: 0;
  width: 912px;
}

